.new-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 200vh; */
  margin-top: 30px;
}
.new-image {
  width: auto;
  /* height: 1800px; */
  /* object-fit: cover; */
  /* object-fit: cover; */
}
.new-body {
  display: flex;
  width: 72%;
  direction: rtl;
  margin: 20px 0px;
}
.new-title {
  margin: 20px 0px;
  width: 970px;
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 1.3rem;
}
