/* @import "react-alice-carousel/lib/alice-carousel.css";
@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "react-alice-carousel/lib/alice-carousel.css"; */

/* body{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    height: 700px;
} */
/* .slider img {
    display: flex;
align-items: center;
} */
