.somenews {
  margin: 50px 100px;
  padding-top: 40px;
  width: auto;
  /* height: 10vh; */
  direction: rtl;
}
.news {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 120vh;
  width: 700px;
  align-items: center;
}
.news > div {
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.title {
  font-weight: 600;
  font-size: large;
  margin: 10px;
  text-decoration: none;
  color: #025464;
}
.title :hover {
  color: #f47629;
}
.example > div {
  display: flex;
  flex-direction: column;
}
.example > img {
  margin: 0px;
  padding: 0px;
}
.news-component-title{
  /* color: #f47629; */
margin-bottom: 10px;
font-weight: 700;
font-size: 1.4rem;
color: #025464;

}
