.somenews {
  margin: 100px ;
  width: auto;
  height: 800px;
  direction: rtl;
}
.news {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 800px;
  width: 700px;
  align-items: center;
}
.news > div {
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  
}
.title {
  font-weight: 700;
  font-size: large;
  margin: 10px;
}
.title :hover {
  color: #f47629;
}
.example > div {
  display: flex;
  flex-direction: column;
}
.example > img {
  margin: 0px;
  padding: 0px;
}