.eservices-component {
  margin: 70px;
  width: auto;
  height: 400px;
  direction: rtl;
}
.wrapper-eservice {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper-eservice > div {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title {
  font-weight: 700;
  font-size: large;
  margin: 10px;
}
.title :hover {
  color: #f47629;

}
/* h3{
    color: #f47629 ;
} */
.app-title {
  text-align: center;
  width: 50vh;
  /* color: #303442; */
  /* margin: 0px 82px; */
  color: #025464;

}
.eservice-title{
  /* color: #f47629; */
margin-bottom: 30px;
font-weight: 700;
font-size: 1.4rem;
color: #025464;
}