.main-form {
    direction: rtl;
    width: 700px;
    display: flex;
    flex-direction: column;

}
 input[type=number], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 25px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    direction: rtl;
    width: 700px;
    display: flex;
    flex-direction: column;
  }
  .reason{
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  