.main-app {
  display: flex;
  justify-content: space-evenly;
  /* height: 500px; */
  align-items: center;
}
.main-form {
  direction: rtl;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.main-form input[type="number"],
.main-form input[type="text"],
.main-form input[type="file"],
.main-form input[type="image"]{
  width: 100%;
  padding: 12px 20px;
  margin: 25px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
}
.optional {
  direction: rtl;
  width: 700px;
}
.optional input[type="number"],
.optional input[type="text"],
.optional input[type="file"],
.optional input[type="image"] {
  width: 100%;
  padding: 12px 20px;
  margin: 25px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
}
/*

  .main-form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .main-form input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .main-form div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */
